countries/target
countries/.project
countries/.settings
countries/.classpath

printnumbers/target
printnumbers/.project
printnumbers/.settings
printnumbers/.classpath

RemoteSystemsTempFiles/
.metadata/